.all_details_background_frieren {
  background-image: url("/public/assets/images/Background/frieren_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_hunter_x_hunter {
  background-image: url("/public/assets/images/Background/GreedIsland-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_code_geass {
  background-image: url("/public\assets\images\Background\code-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_parasyte {
  background-image: url("/public\assets\images\Background\parasyte-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_danmachi {
  background-image: url("/public\assets\images\Background\danmachi-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_akame_ga_kill {
  background-image: url("/public\assets\images\Background\akame-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_clannad {
  background-image: url("/public\assets\images\Background\clannad-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_angel_beats {
  background-image: url("/public\assets\images\Background\angel-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_anohana {
  background-image: url("/public\assets\images\Background\anohana-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_your_lie_in_april {
  background-image: url("/public\assets\images\Background\your-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_kaguya-sama_love_is_war {
  background-image: url("/public\assets\images\Background\kaguya-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_nagi_no_asukara {
  background-image: url("/public\assets\images\Background\nagi-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_haikyuu {
  background-image: url("/public\assets\images\Background\haikyu-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_run_with_the_wind {
  background-image: url("/public\assets\images\Background\run-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_kuroko_no_basket {
  background-image: url("/public\assets\images\Background\kuroko-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_konosuba {
  background-image: url("/public\assets\images\Background\konosuba-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_grand_blue {
  background-image: url("/public\assets\images\Background\grand-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_rezero {
  background-image: url("/public\assets\images\Background\rezero-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_sword_art_online {
  background-image: url("/public\assets\images\Background\sword-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_mushoku_tensei {
  background-image: url("/public\assets\images\Background\mushoku-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_suisei_no_gargantia {
  background-image: url("/public\assets\images\Background\suiser-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_horimiya {
  background-image: url("/public\assets\images\Background\hori-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_my_teen_romantic_comedy_snafu_too {
  background-image: url("/public\assets\images\Background\oreigaru-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_relife {
  background-image: url("/public\assets\images\Background\relife-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_a_silent_voice {
  background-image: url("/public\assets\images\Background\koe-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_josée_le_tigre_et_les_poissons {
  background-image: url("/public\assets\images\Background\jose-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.all_details_background_your_name {
  background-image: url("/public\assets\images\Background\yourname-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
